.Input::-webkit-outer-spin-button,label
.Input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Input {
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 5px;
  height: 40px;
  width: 290px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-family: Inter, sans-serif;
  /* display: flex;
    width: auto;
    
    height: 5%; */
}
.Label {
  display: inline-block;
  width: 120px;
  text-align: left;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  /* text-align: left;
  margin-right: 5px; */
  /* display:; */
}
.Input:hover{
  width: 295px;
  height: 43px;
  background-color: rgb(255, 241, 223);
}

.Input:focus{
  width: 295px;
  height: 43px;
  background-color: rgb(200, 236, 252);
}